# Server Configuration
PORT=10000
ALLOWED_ORIGINS=https://mediaccess-frontend.vercel.app,http://localhost:5173

# AWS S3 Storage Credentials
AWS_ACCESS_KEY_ID=your_aws_access_key_id
AWS_SECRET_ACCESS_KEY=your_aws_secret_access_key
AWS_REGION=ap-south-1
AWS_BUCKET_NAME=your_mediaccess_s3_bucket
