# API and Server
fastapi==0.128.8
uvicorn==0.39.0

# Image Processing & Face Recognition
insightface==0.7.3
onnxruntime==1.24.1
opencv-python==4.13.0.92
numpy==2.0.2
pillow==11.3.0

# Backend Services
firebase-admin
